* {
    box-sizing: border-box;
}

.html {
    max-width: 1500px;
}

.body {
    font-size: 18px;
    max-width: 1500px;
    font-family: sans-serif;
    margin: 0 auto;
}

.p__padding {
    margin: 0;
}

ul {
    padding: 0;
    margin-left: 16px;
}

li:last-child {
    margin-bottom: 0;
}

 /* Шапка - начало*/

.header-sticky {
    position: sticky;
    top: 0px;
    background: #ffffff;
    padding-top: 19px;
}

.hat {
    height: 80px;
    padding-left: 50px;
}

.hat__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    border-bottom: 1px solid #000000;
}

.hat__ico {
    align-items: center;
    width: 36px;
    height: 43px;
}

.hat__name {
    height: 53px;
    top: 18px;
    font-size: 44px;
    font-weight: 700;
    line-height: 53px;
}

.hat__color {
    color: #F36223;
}

.basket {
    top: 12px;
    position: relative;
    width: 32px;
    height: 32px;
    margin-right: 15px;
  }
  
  .basket__ico {
    width: 100%;
    height: auto;
  }
  
  .basket__count {
    border: 1px solid #F36223;
    background-color: #F36223;
    color: #FFFFFF;
    width: 15px;
    height: 15px;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    position: absolute;
    top: -1px;
    right: -1px;
}

/* Шапка - конец */

/* Хлебные крошки  - начало*/

.breadcrumb {
    top:27px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 0px;
    gap: 4px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}

.breadcrumb__left {
    padding-left: 50px;
}

a {
    color: #00BCF0;
    text-decoration: none;
}

a:hover {
    color: #F36223;
}

a:active {
    color: #A93A09;
}

/* Хлебные крошеки - конец */

/* Смартфон  - начало*/

.smartphone {
    margin: 0;
    padding-left: 50px;
    height: 39px;
    top: 8px;
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    margin-bottom: 30px;
}

.smartphone__photo {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 387px; 
    padding: 0px;
    gap: 10px;
}

.smartphone__left {
    padding-left: 50px;
}

/* Смартфон - конец *

/* Товар  - начало*/

.product {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 100px;
}

/* Товар цвет  - начало*/

.product-color__name {
    display: flex;
    padding: 30px 0px 15px 50px;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin: 0;
    font-size: 16px;
    font-weight: 700;  
}

.product-color__button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;
    width: 80px;
    height: 80px;
    background-color: #FFFFFF;
    border: 1px solid #989898;
    border-radius: 4px;
    margin-right: 10px;
    cursor: pointer;
}

.product-color__button-imgs {
    display: flex;
    padding-left: 50px;    
}

.product-color__button-img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    height: 60px;
    margin: 0 auto;
}

.product-color__button:hover {
    background-color: #F2F2F2;
}

.product-color__button_selected {
    border-color: #F36223;
}

.product-color__button:active {
    border-color: #A93A09;
}

/* Товар цвет - конец */

/* Товар конфигурация  - начало*/

.product-config__name {
    display: flex;
    padding: 30px 51px 15px;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin: 0;
    font-size: 16px;
    font-weight: 700;  
}

.product-config__buttons{
    display: flex;
    padding-left: 50px;
}

.product-config__button {
    display: flex;
    background-color: #FFFFFF;
    border: 1px solid #989898;
    border-radius: 4px;
    align-items: flex-start;
    padding: 10px 20px;
    font-weight: 500;
    font-size: 16px;
    margin-right: 10px;
    cursor: pointer; 
}

.product-config__button:hover {
    background-color: #F2F2F2;
}

.product-config__button:active {
    border-color: #A93A09;
}

.product-config__button_selected {
    border-color: #F36223;
}

/* Товар конфигурация - конец */

/*Товар характеристики - начало*/

.product-characteristic {
    margin: 0;
    padding-left: 50px;
    font-weight: 500;
    font-size: 16px;
}

.product-characteristic__name {
    display: flex;
    padding: 30px 0px 15px 50px;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin: 0;
    font-size: 16px;
    font-weight: 700;  
}

.product-characteristic__attributes {
    margin: 0;
    padding-left: 16px;
}

.product-characteristic__attribute {
    margin: 0;
    margin-bottom: 10px;
}

/*Товар характеристики - конец*/

/*Товар описание - начало*/

.product-description {
    margin: 0;
    padding-left: 50px;
    font-weight: 500;
    font-size: 16px;
    max-width: 870px;
}

.product-description__name {
    display: flex;
    padding: 30px 0px 15px 50px;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin: 0;
    font-size: 16px;
    font-weight: 700;  
}

.product-description__paragraph {
    margin: 0;
    margin-top: 15px;
}

/*Товар описание - конец*/

/*Товар таблица - начало*/

.product-table {
    width: 820px;
    border: 1px solid #989898;
    border-collapse: collapse;
}

.product-table__name {
    display: flex;
    padding: 30px 0px 15px 50px;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin: 0;
    font-size: 16px;
    font-weight: 700; 
}

.product-table__thead {
    font-weight: 700;
    font-size: 16px;
}

.product-table th {
    border: 1px solid #989898;
    padding-top: 10px;
    padding-bottom: 10px;
}

.product-table__body {
    font-weight: 400;
    font-size: 16px;
}

.product-table td {
    border-right: 1px solid #989898;
    padding: 10px;
}

.product-table__body tr:hover {
    background: #F2F2F2;
}

 .product-table__padding {
    padding-left: 50px;
 }
/*Товар таблица -конец*/

/* Товар - конец */

/*Отзывы - начало*/

.review-section {
    padding-left: 50px;
    margin-top: 61px;

}

.review-section__list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

 .review-section__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}
 
 .review-section__wrapper {
    display: flex;
    gap: 10px;
}

 .review-section__title {
    font-weight: 700;
    font-size: 24px;
    margin: 0;
 }

 .review-section__count {
    font-weight: 700;
    font-size: 24px;
    color: #989898;
 }

  .review {
    display: flex;
    gap: 30px;
    max-width: 865px;
}

.review__photo {
    width: 140px;
    height: 140px;
    border-radius: 100px;
    flex-shrink: 0;
}

.review__name {
    margin: 0;
    font-weight: 700;
    font-size: 20px;
}

.review__rating {
    margin-top: 10px;
    padding: 0px;
    height: 30px;
    margin-bottom: 20px;
}

.review__parameters {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.review__parameter {
    margin: 0;
    font-size: 14px;
    padding-right: 27px;
}

.separator {
    border-top: 1px dashed #989898;
}

.separator__padding {
    padding-left: 170px;
}

/*Отзывы - конец*/

/*Форма - начало*/

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 221px;
    padding-right: 0px;
    gap: 30px;  
}

.form__name {
    display: flex;
    padding: 60px 0px 15px 221px;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin: 0;
    font-size: 16px;
    font-weight: 700; 
}

.form__string {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    gap: 40px;
}

.form__text-size::placeholder {
    font-weight: 500;
    font-size: 16px;
}

.form__text {
    padding: 15px 20px;
    width: 379px;
    height: 49px;
    cursor: pointer;
}

.form__number-size::placeholder {
    font-weight: 500;
    font-size: 16px;    
}

.form__number {
    padding: 15px 20px;
    width: 175px;
    height: 49px;
    cursor: pointer;
}

.form__review-size::placeholder {
    font-weight: 500;
    font-size: 16px;    
}

.form__review {
    padding: 15px 20px;
    width: 594px;
    height: 190px;
    resize: none;
    cursor: pointer;
}

input:focus {
    border: 3px;
}

.form__button {
    padding: 10px 20px;
    font-weight: 500;
    font-size: 16px;
    background: #F36223;
    border-color: #F36223;
    border-radius: 4px;
    color: #FFFFFF;
    cursor: pointer;
}

.form__button:hover {
    background-color: #DA4A0C;
}

.form__button:active {
    background-color: #A93A09;
}

.errorName {
    visibility: hidden;
    border: 1px solid #DA4A0C;
    padding: 8px 20px;
    background-color: #DA4A0C;
    color: #F2F2F2;
    font-weight: 500;
    font-size: 12px;
    height: 32px;
}

.errorName.visible {
    visibility: visible;
}

.errorScore {
    visibility: hidden;
    border: 1px solid #DA4A0C;
    padding: 8px 20px;
    background-color: #DA4A0C;
    color: #F2F2F2;
    font-weight: 500;
    font-size: 12px;
    height: 42px;
    width: 175px;
}

.errorScore.visible {
    visibility: visible;
}

/*Форма - конец*/

/*Сайдбар - начало*/

.right {
    margin: 40px 50px 0px 0px;
    flex-shrink: 0;
}

.price-old {
    display: flex;
    margin: 0;
    flex-direction: row;
    padding: 0px;
    margin-right: 10px;
    height: 16px;
}

.price-old__price {
    display: flex;
    font-weight: 500;
    font-size: 16px;
    color: #989898;
    text-decoration-line: line-through;
}

.sale {
    display: flex;
    margin: 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
    gap: 10px;
    background: #F36223;
    border-radius: 50px;
    height: 24px;
}

.sale__percent {
    display: flex;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
}

.ico-like {
    display: flex;
    align-items: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.ico-like__image {
    fill: #989898;
}

.ico-like:hover .ico-like__image {
    fill: #DA4A0C;
}

.ico-like:active .ico-like__image {
    fill: #A93A09;
}

.like:last-child {
    position: relative;
    left: 255px;
}

.price-sale {
    display: flex;
    height: 24px;
    align-items: center;
}

.price-new {
    display: flex;
    font-weight: 500;
    font-size: 32px;
    margin-top: 10px;
    margin-bottom: 15px;
    flex-direction: row;
    align-items: center;
    padding: 0px;
}

.delivery {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    padding: 0px 0px 35px;
    font-weight: 400;
    font-size: 16px;
    gap: 10px;
}

.basket-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 20px 87px;    
    background-color: #F36223;
    border-color: #F36223;
    border-radius: 4px;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
    cursor: pointer;
    width: 100%;
}

.basket-button:hover {
    background-color: #DA4A0C;
}

.basket-button:active {
    background-color: #A93A09;
}

.basket-button::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url("../images/ico-basket-1.svg");
    background-repeat: no-repeat;
    background-position: center center;
}

.basket-button.added {
    background-color: #989898;
    border-color: #989898;
}

.important {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 15px;
    background: #FFFFFF;
    border: 1px solid #989898;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.advertising {
    display: flex;
    margin: 40px 0px 10px;
    font-weight: 400;
    font-size: 14px;
    color: #989898;
}

.advertising__iframe {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.iframe {
    border: 1px dashed #989898;
    height: 250px;
}

/*Сайдбар - конец*/

/*Подвал - начало*/

.footer {
    margin: 0;
}

.footer__padding1 {
    margin: 0;
    padding-top: 100px;
}

.footer__padding {
    padding: 30px 50px;
    background: #F2F2F2;
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer__paragrapf {
    margin: 0;
    font-weight: 700;
    font-size: 14px;
}

.footer__paragrapf-color {
    color: #F36223;
}

.footer__paragrapf-weight {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
}

.footer__up {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
}

/*Подвал - конец*/

/*Медиа-запросы - начало*/

@media (max-width: 1499px) and (min-width: 1024px) {

    .body {
        max-width: 1024px;
    }

    .hat {
        padding: 0px 0px 0px 15px;
    }

    .breadcrumb__left {
        padding-left: 15px;
    }

    .smartphone {
        padding-left: 15px;
    }
    
    .smartphone__photo {
        height: 272px; 
    }
    
    .smartphone__left {
        padding-left: 15px;
    }
    
    .product {
        gap: 40px;
    }
    
    .product-color__name {
        padding: 30px 15px 15px;
    }

    .product-color__button-imgs {
        padding-left: 15px;    
    }

    .product-config__name {
        padding: 30px 15px 15px;
    }
    
    .product-config__buttons{
        padding-left: 15px;
    }

    .product-characteristic {
        padding-left: 15px;
    }
    
    .product-characteristic__name {
        padding: 30px 15px 15px;
    }
    
    .product-description {
        padding-left: 15px;
        width: 670px;
    }

    .product-description__name {
        padding: 30px 15px 15px;
    }
    
    .product-table {
        display: none;
    }
    
    .product-table__name {
        display: none;
    }

    .review-section {
        padding-left: 15px;
    }
    
    .review__photo {
        width: 100px;
        height: 100px;
    }
    
    .review__name {
        margin: 0;
        font-weight: 700;
        font-size: 20px;
    }
    
    .review__rating {
        width: 100px;
        height: 20px;
    }
    
    .review__parameter {
        padding-right: 90px;
    }
    
    .separator {
        width: 440px;
    }

    .separator__padding {
        padding-left: 135px;
    }
    
    .form {
        padding-left: 15px;
    }

    .form__name {display: flex;
        padding: 60px 15px 15px;
    }
    
    .footer__padding {
        padding: 30px 15px;
    }
    
    .right {
        width: 300px;
        margin: 40px 15px 0px 0px;
    }
    
    .like:last-child {
        position: relative;
        left: 120px;
    }

    .basket-button {
        width: 256px;
        padding: 20px 10px;
    }
    
    .iframe {
        width: 300px;
        height: 320px;
    }

}

/*Медиа-запросы - конец*/