body {
    margin: 0;
    font-family: sans-serif;
    height: 100%;
}

div {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F2F2F2;
    width: 450px;
    height: 100%;
    font-weight: 400px;
    font-size: 14px;
    color: #989898;  
}

html {
    height: 100%;
}